.git
.github
.vscode
.idea
.jules
.claude
.codex

target
frontend
docs
doc
migrations
schema.md
Readme.md

docker-compose.logging.yml
logging
Dockerfile.postgres

.env
.env.*
!.env.example
!.env.template

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/*.rs.bk
